.appbar-dropdown-items {
    color: #000000;
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}