.appbar-dropdown-items {
	color: #000000 !important;
	text-decoration: none !important;
	font-family: var(--default-font) !important;
	font-weight: bold !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
}