.widget-editor {
  border: 2px solid gray;
  width: 90%;
  margin: auto;
}

.widget-picker {
  max-width: 500px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 0 1pt #531abc;
  font-family: Arial, Helvetica, sans-serif;
}
.widget-picker fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}
.widget-picker legend {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}
.widget-picker label {
  display: block;
  margin-bottom: 8px;
}
.widget-picker input[type="text"],
.widget-picker input[type="date"],
.widget-picker input[type="datetime"],
.widget-picker input[type="email"],
.widget-picker input[type="search"],
.widget-picker input[type="time"],
.widget-picker input[type="url"],
.widget-picker textarea,
.widget-picker select {
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 0px 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #555555;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 16px;
}
.widget-picker input[type="text"]:focus,
.widget-picker input[type="date"]:focus,
.widget-picker input[type="datetime"]:focus,
.widget-picker input[type="email"]:focus,
.widget-picker input[type="search"]:focus,
.widget-picker input[type="time"]:focus,
.widget-picker input[type="url"]:focus,
.widget-picker textarea:focus,
.widget-picker select:focus {
  background: #d2d9dd;
}
.widget-picker select {
  -webkit-appearance: menulist-button;
  height: 35px;
}
.widget-picker input[type="submit"],
.widget-picker input[type="button"] {
  position: relative;
  display: block;
  padding: 15px 39px 14px 39px;
  color: #fff;
  background: #531abc;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #2a0d61;
  border-width: 1px 1px 3px;
  margin-bottom: 16px;
}
.widget-picker input[type="submit"]:hover,
.widget-picker input[type="button"]:hover {
  background: #40168d;
}

.content-editbanner-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.content-button-container {
  flex-basis: 100%;
}
