.content-editor-banner {
    background-color: #ffcccb;
    height: 5em;
    box-shadow: 2px 2px 5px gray;
    width: 100%;
    padding: 10px;
}

.content-editor-banner h3 {
    padding: 0px;
    margin: 0px;
}

.content-editor-page-editing {
    color: #420dab;
    font-weight: bold;
}

.content-editor-formcontrol {
    width: 200px;
}