.tabs-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	padding: 1rem;
	background-color: var(--purple-primary);
	color: var(--white);
}

.tab-label:hover {
	color: var(--gold-primary);
	cursor: pointer;
}

.current-tab {
	color: var(--gold-primary);
	border-bottom: 1px var(--gold-primary) solid;
}

.current-tab-content, .current-tab-content-editor {
	width: 100%;
	border: 1px black solid;
	margin-bottom: 5px;
}

.current-tab-content {
	height: 15rem;
	overflow: scroll;
	padding: 3rem;
	padding-top: 1rem;
}

.current-tab-content-editor {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.current-tab-content-editor>textarea, .current-tab-content>.react-markdown {
	width: 90%;
	height: 5rem;
}

.add-tab-btn {
	padding: 5px;
	color: var(--white);
	background-color: var(--purple-primary);
	align-self: flex-end;
}

.tab-label-input {
	padding: 3px;
	background-color: var(--purple-primary);
	color: var(--white);
	border: 1px var(--white) solid;
	border-left: none;
	border-right: none;
}

.tab-control-btn {
	padding: 3px;
	background-color: var(--purple-primary);
	color: var(--white);
	border-radius: 0px;
}

.tab-control-btn:hover {
	background-color: var(--white);
	color: var(--purple-primary);
	border-radius: 0px;
}

.remove-tab-btn {
	margin-left: 5px;
	color: red;
	background-color: transparent;
	border: none;
}

.remove-tab-btn:hover {
	cursor: pointer;
}

.tab-content-render-btn {
	background-color: var(--purple-primary);
	color: var(--white);
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}