.row {
    display: flex;
    flex-flow: row nowrap;
}

.colRowEditor {
    display: grid;
    grid-template-columns: 8ch 6ch 6ch;
    column-gap: 1ch;
    grid-template-rows: auto auto;
    row-gap: 0.5ch;
}
.colRowEditor p {
    margin-bottom: 0;
    align-self: center;
}