.button {
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;

    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button p {
    margin-bottom: 0;
}