.figure {
    /* width: clamp(300px, 25%, 30vw); */
    align-self: stretch;
    border: 5px solid rgba(0,0,0,0);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.figure > * {
    width: 95%;
}

.figure > img {
    height: 70%;
    object-fit: contain;
}

.figure > figcaption {
    height: 30%;
    text-align: center;
}


.selected {
    border-color: blue;
}