.modal {
    height: 80vh;
}

.body {
    margin: 1rem 2rem;
}

.darker {
    background-color: #c4c4c4;
}

.backdrop {
    z-index: 1360; /* z-index has to be higher than navbar (z-index = 1100) */
}