.widgets {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.05rem;
    row-gap: 0.05rem;
    justify-items: center;
    align-items: center;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0.5rem;
    --text-size: 1.25rem;
}

.header h6 {
    font-size: var(--text-size);
    margin-bottom: 0;
    margin-right: 1rem;
}

.header hr {
    margin: calc(var(--text-size) / 2 + 0.2rem) 0px;
    flex-grow: 2;
}