.appbar-logo {
    flex: 1;
    text-align: left;
    margin-bottom: -5px;
}

.appbar-logo-bounding {
    color: white;
}

.appbar-logo-path {
    fill: white;
    stroke: none;
    stroke-width: 4px;
}