.error-message {
    color: var(--errorMessageColor);
}

.img-row {
    display: flex;
    margin: 0px 30px;
}

.img-row-item {
    flex: 1 1 0;
    margin: 10px 0px 0px;
    padding: 0px 8px;
    text-align: center;
}

.img-row-caption {
    color: black;
    padding: 5px;
}

@media (max-width: 785px) {
    .img-row {
        flex-direction: column;
        align-items: center;
    }
}

.img-row-image {
    width: 100%;
    max-width: 400px;
    min-width: 160px;
    height: auto;
    min-height: 280px;
    object-fit: cover;
    margin: auto auto 10px;
    display: block;
}
