/* header widget style */
.banner {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 30vw;

    display: flex;
}

.banner-background {
    width: 110%;
    height: 110%;
    position: absolute;
    background-repeat: no-repeat;
    left: -5%;
    top: -5%;
    z-index: 0;

    /* opacity: 0; */
}

.banner-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: #706DB4;
}

.banner-hidden {
    visibility: hidden;
}

.banner-text {
    position: relative;
    z-index: 2;
    margin: auto;
}

/* header editor style */
.banner-editor, .banner-preview {
    display: block;
    overflow: auto;
}

.banner-editor input, .banner-editor p, .banner-preview p {
    margin: 2px 5px;
    padding: 2px;
    display: inline;
}

.banner-radio-div {
    margin-bottom: 10px;
}

.banner-slider-y, .banner-slider-x {
    display: inline;
}

.banner-slider-y {
    float: left;
}

.banner-slider-y input {
    -webkit-appearance: slider-vertical;
}
