.homepage-card-wrapper {
	overflow: hidden;
	height: auto;
	border-radius: 10px;
}

.homepage-card-header {
	background-color: var(--purple-primary);
	margin: auto;
	text-align: center;
}

.homepage-card-info {
	display: flex;
}

.homepage-card-header h3 {
	color: var(--gold-secondary) !important;
	padding: 15px;
}

.homepage-card-image {
	height: 20vh;
	display: inline-block;
	flex-basis: 40%;
}

.homepage-card-blurb {
	display: inline-block;
	padding: 10px;
	background-color: white;
	width: 60%;
}