.wysiwyg-wrapper {
	/* padding: 10px; */
}

.wysiwyg-wrapper img {
	width: 100% !important;
	height: auto !important;
}

.wysiwyg-wrapper p, .wysiwyg-wrapper p span {
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 24px !important;
	/* margin-bottom: 8px !important; */
	margin-bottom: 0;
}

.wysiwyg-wrapper ul {
	margin-left: 2rem !important;
}

.wysiwyg-editor {
	background-color: var(--white);
}

.wysiwyg-display {
	overflow: visible;
}