.accordion-wrapper {
	margin-top: 10px;
}

.accordion-title {
	background-color: var(--gray-10);
	cursor: pointer;
	padding: 15px;
	width: 100%;
	text-align: left;
	font-size: 20px;
	border: none;
}

.accordion-title:hover, .active-accordion .accordion-title {
	background-color: var(--primary-color, #e3daf7);
}

.active-accordion .accordion-panel {
	display: block;
}

.accordion-panel {
	background-color: var(--white);
	padding: 15px 20px;
	display: none;
	overflow-x: scroll;
	color: var(--primary-color-text, #545355);
}

.active-accordion .accordion-title::after {
	content: '\025B2';
}

.accordion-title::after {
	content: '\025BC';
	float: right;
	margin-left: 5px;
}

.accordion-editor input, .accordion-panel-input {
	width: calc(100% - 60px);
	padding: 15px;
	margin: 0;
	font-size: 16px;
}

.accordion-panel-input {
	display: block;
}

.accordion-editor button {
	width: 60px;
	padding: 12px 0;
	border-radius: 10%;
	font-size: 16px
}

.accordion-add-new-button {
	display: block;
	margin: 15px auto;
}

.accordion-delete-button {
	border-color: var(--failure-primary);
	color: var(--failure-primary);
}