.appbar-dropdown {
    padding-top: 16px;
}

.appbar-dropdown-button {
    margin: 2px;
    text-transform: none;
    font-family: Raleway;
    font-weight: bold !important;
    color: white !important;
    margin-left: 15px;
}