:root {
    --hero-height: 120vh;
    --hero-width: 100vw;
}

.homepage > section {
    padding: 30px 0;
}

.homepage h1 {
    margin-bottom: 0.75rem;
}

.homepage p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.plantCube {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.heroContainer {
    height: var(--hero-height);
    position: relative;

    z-index: 2;
}

.heroImage {
    background-image: url('https://media.gettyimages.com/photos/close-up-of-digital-data-picture-id1217903400?s=612x612');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: var(--hero-height);
    width: var(--hero-width);
    position: absolute;

    z-index: 0;
}

.heroScreen {
    background-color: rgba(112, 109, 180, 0.5);
    height: var(--hero-height);
    width: var(--hero-width);
    position: absolute;

    z-index: 2;
}

.hero {
    /* padding: 3rem; */

    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: min(100vh, 700px);
}

.hero h1 {
    font-size: 5rem !important;
    color: white;
}

.hero p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.scrollDown {
    margin-top: auto;
    color: white;
    text-align: center;
    padding: 2rem;
}

.problemContext {
    padding: 3rem 0;
}

.problemContext p{
    margin: 1rem 0;
}

.problemContextFactory {
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	color: white;
	/* width: 100px; */
}

.problemContext img {
	width: 100%;
}

.problemContextStatistics {
    /* background-color: lightgray; */
    padding: 2rem;
    text-align: center;
    height: 350px;
}

.problemContextBeaker {
    height: 100%;
    width: auto !important;
    background-color: rgba(0, 0, 0, 0);
}

/* .problemContextStatistics * > * > * {
    background-color: gray;
} */

.problemContextStatistics * {
    height: 100%;
}

.problemContextStatistics > * > div:nth-child(1),
.problemContextStatistics > * > div:nth-child(3) {
    height: 50%;
    margin-top: auto;
}

.ourSolutionGrid {
    text-align: center;
}

.ourSolutionGrid img {
    width: 100%;
}

.ourSolutionGrid > * > * > p {
    height: 300px;
    background-color: gray;
    vertical-align: middle;
}

.howItWorks {
    background-color: lightgray;
}

.howItWorksItem img {
    width: 100%;
}

.howItWorksCaption {
    text-align: left;
}

.modelingProteinContainer {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modelingProteinContainer img {
    width: 100%;
}

.menu {
    background-color: var(--purple-secondary);
    width: auto;
    height: 100vh;
    padding: 0 !important;

    display: grid !important;
    grid-template-rows: 1fr 1fr 1fr;
}

.row {
    width: 100%;
    display: grid !important;
    grid-template-columns: 50% 50%;
    justify-self: center;
}