:root {
    --hero-height: 120vh;
    --hero-width: 100vw;
}

.homepage > section {
    padding: 30px 0;
}

.homepage h1 {
    margin-bottom: 0.75rem;
}

.homepage p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.plantCube {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.heroContainer {
    height: var(--hero-height);
    position: relative;

    z-index: 2;
}

.heroImage {
    background-image: url('https://media.gettyimages.com/photos/close-up-of-digital-data-picture-id1217903400?s=612x612');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: var(--hero-height);
    width: var(--hero-width);
    position: absolute;

    z-index: 0;
}

.heroScreen {
    background-color: rgba(112, 109, 180, 0.5);
    height: var(--hero-height);
    width: var(--hero-width);
    position: absolute;

    z-index: 1;
}

.hero {
    /* padding: 3rem; */

    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: min(100vh, 700px);
}

.hero h1 {
    font-size: 5rem !important;
    color: white;
}

.hero p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.scrollDown {
    margin-top: auto;
    color: white;
    text-align: center;
    padding: 2rem;
}

.problemContext {
    padding: 0 0 1rem !important;
    height: 120vh !important;

    background-image: url('https://s3.envato.com/files/aaf1ba3e-a327-419a-b5af-9f6afdd60132/inline_image_preview.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    position: relative;
    z-index: 0 !important;
}

.problemContext h1, h2 {
    padding: 0 !important;
    margin: 0 !important;
    color: white;
}

.problemContext h1 {
    font-size: 3rem !important;
}

.problemContext p {
    color: white;
    height: fit-content;
}

.problemContextFactory {
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	color: white;
	/* width: 100px; */
}

.problemContext img {
	width: 100%;
}

.problemContextStatistics {
    /* background-color: lightgray; */
    padding: 2rem;
    text-align: center;
    height: 350px;
}

.problemContextBeaker {
    height: 100%;
    width: auto !important;
    background-color: rgba(0, 0, 0, 0);
}

/* .problemContextStatistics * > * > * {
    background-color: gray;
} */

.problemContextStatistics * {
    height: 100%;
}

.problemContextStatistics > * > div:nth-child(1),
.problemContextStatistics > * > div:nth-child(3) {
    height: 50%;
    margin-top: auto;
}

#problemHead {
    padding: 4rem 0 3rem;
    width: fit-content;
    margin-left: 10%;

    display: flex;
    flex-direction: column;
    align-items: end;
}

#problemScreen {
    background-color: rgba(112, 109, 180, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;

    z-index: 1 !important;
}

#problemContent {
    position: relative;
    z-index: 2 !important;
}

#factsContainer {
    padding: 0 !important;
    max-width: 100%;
}

.factBox {
    background-color: var(--purple-primary);
    border-radius: 0.5em;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
    width: 15em;
    margin: auto;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#facts {
    margin: auto 10%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 4.25em;

    position: relative;
    z-index: 1;
}

#melanomaImgs {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* column-gap: 10vw; */
    row-gap: 10vw;

    z-index: 0;

    /* border: solid blue; */
    width: 100% !important;
    height: 100vh;
    padding: 0;
    margin: -20vh 0 !important;
}

#melanomaImgs img {
    width: 40vw;
    max-width: 485px;
    height: auto;
    margin: auto;
    border-radius: 50%;
    border: solid var(--purple-secondary);
}

#moreFacts {
    color: white;
    /* border: solid red; */

    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

    margin: 10vh 5vh 0 0;
}

#moreFacts p {
    margin: 0 10px 3px 0;
}

.ourSolution {
    background-image: url("https://i.pinimg.com/originals/47/f7/b6/47f7b639b546a284092b20ceae869416.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    position: relative;
    z-index: 0;

    padding: 0 !important;

    /* border: white solid; */
}

#solutionScreen {
    background-color: white;
    opacity: 0.8;
    height: 100%;
    width: 100%;

    z-index: 1 !important;
    position: absolute;
}

#solutionContainer {
    position: relative;
    z-index: 2;

    border: solid var(--purple-primary) 6px;
    border-top: hidden;

    width: auto;

    margin: 0 7% 0 7%;
    padding: 0 !important;

    color: var(--purple-primary)
}

.ourSolution h1 {
    position: relative;
    z-index: 2 !important;

    margin: 0 !important;
    padding: 0 !important;

    text-align: center;
}

/* .ourSolutionGrid {
    text-align: center;
}

.ourSolutionGrid img {
    width: 100%;
}

.ourSolutionGrid > * > * > p {
    height: 300px;
    background-color: gray;
    vertical-align: middle;
} */

.howItWorks {
    background-color: lightgray;
}

.howItWorksItem img {
    width: 100%;
}

.howItWorksCaption {
    text-align: left;
}

.modelingProteinContainer {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modelingProteinContainer img {
    width: 100%;
}

.menu {
    background-color: var(--purple-secondary);
    width: auto;
    height: 100vh;
    padding: 0 !important;

    display: grid !important;
    grid-template-rows: 1fr 1fr 1fr;
}

.row {
    width: 100%;
    display: grid !important;
    grid-template-columns: 50% 50%;
    justify-self: center;
}