.content-add-new-widget-container {
  text-align: left;
  margin: 5px;
}

.content-add-new-widget {
  width: 30px;
  border-radius: 10px;
  font-size: 1em;
  background: #eeeeee;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.content-add-new-widget:active {
  background-color: #aaaaaa;
}
