.content-editor-banner {
	background-color: white;
	min-height: 5em;
	width: 100%;
	padding: 10px 10px 0px;
}

.content-editor-container {
	padding: 0;
	max-width: 100%;
}

.content-editor-title {
	position: relative;
}

.content-editor-icon {
	background-image: url('http://placekitten.com/200/200');
	border-radius: 50%;
	width: 50px;
  	height: 50px;
	background-position: center center;
	background-size: cover;
	display: inline-block;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0;
}
.content-editor-button {
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 5px;
}

.content-editor-page-editing {
	background-color: #F5F5F5;
	padding: 5px;
}

.content-editor-label {
	text-align: right;
	width: 100%;
}

.content-editor-formcontrol {
	width: 80%;
	background-color: #E0E0E0;
	margin: 0;
}

.content-editor-checkbox {
	margin: 0;
}