.app-content-dev {
	min-height: 100vh;
	/* margin-top: 62px; */
	background-color: white;
}

.app-content-real {
	min-height: 100vh;
	/* margin-top: 80px; */
}

.app-content-real.mobile {
	margin-top: 80px;
}

.app-content-dev.mobile {
	margin-top: 62px;
}

.main-temporary {
	margin: 20px;
	margin-top: 100px;
}

.main-temporary p {
	margin: 10px;
}