.app-content-dev {
    min-height: 100vh;
    margin-top: 44px;
}

.app-content-real {
    min-height: 100vh;
    margin-top: 80px;
}

.app-content-real, .mobile {
    margin-top: 73px;
}

.app-content-dev, .mobile {
    margin-top: 37px;
}