:root {
	/** These colors should be deprecated ASAP */
	--header-tag-color: black;
	--main-color: black;
	--debug-header-color: gray;
	--background-color: #ffffff;
	--error-message-color: red;
	/**********************************/
	/** Design guideline colors */
	--purple-primary: #4d2393;
	--purple-secondary: #dcd5e7;
	--gold-primary: #ffbd12;
	--gold-secondary: #f8e6b9;
	--white: #FFF;
	--gray-90: #212121;
	--gray-80: #474747;
	--gray-70: #747373;
	--gray-30: #c1c1c1;
	--gray-20: #dedede;
	--gray-10: #f2f2f2;
	--success-primary: #04732a;
	--success-secondary: #d0eeda;
	--failure-primary: #af2323;
	--failure-secondary: #f3dada;
	--default-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !important;
	--content-padding-left: 5%;
	--content-padding-right: 5%;
	--content-margin-top: 10px;
	--content-margin-bottom: 10px;
}

/** RESET CODE HERE. SCROLL DOWN FOR DESIGN GUIDELINE STUFF */

ul {
	list-style-image: none !important;
	margin: 0 !important;
}

a {
	outline: 0;
}

.debug-header {
	height: 18px;
	background-color: var(--debug-header-color);
	margin-top: 28px;
}
body {
	margin: 0;
	overflow-y: scroll !important;
	height: 100%;
	padding: 0 !important;
	background-color: var(--background-color);
	overflow-x: hidden;
}

header {
	padding: 0 !important;
}

.App, #root {
	margin: 0px;
	margin-top: -18px;
	padding: 0;
	height: 100vh;
	font-family: var(--default-font);
	width: 100%;
	background-color: var(--background-color);
	color: var(--main-color);
	/* temporary */
}

#root {
	top: 8px;
	width: 100%;
	position: absolute;
	background-color: var(--background-color);
	color: var(--main-color);
	font-size: 12pt;
	font-family: var(--default-font);
}

/* Wiki overrides */

#globalWrapper {
	font-size: 100%;
	padding: 0;
}

#top_menu_under, #top_menu_14, #top_menu_inside {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 16px;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	padding-top: 15px;
	border: none;
	font-size: default;
	font-weight: bold;
	font-family: var(--default-font);
	color: var(--header-tag-color);
}

a[href ^="https://"] {
	padding: 0px;
}

.submenu div {
	line-height: 1.5em;
}

#contentBox {
	width: 100%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	padding: 0;
	margin: 0;
	line-height: normal;
	position: absolute;
	top: 10px;
	background: #C6c6c6;
}

.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
	margin: 0;
	padding: 0;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-size: 20px;
}

#top_menu_inside ul a {
	line-height: 1.5em;
}

table {
	margin: auto;
	background: none;
	width: 80%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 20px;
}

th, td {
	padding: 2px;
	border-bottom: 2px solid #ddd;
}

tr:hover {
	background-color: #ddd;
}

pre, code {
	padding: 0px;
	border: none;
	background: none;
	line-height: inherit;
	display: inline;
	margin-left: 6px;
	margin-right: 6px;
	color: maroon;
	overflow-x: auto;
}

code {
	max-width: 100%;
	text-overflow: ellipsis;
}

.md pre {
	max-width: 100vw;
}

.centered {
	text-align: center;
}

a {
	text-decoration: none !important;
	color: var(--main-color) !important;
}

a:hover {
	color: var(--purple-primary) !important;
}

/********************DESIGN GUIDELINE STUFF*******************************/

.wi-content-wrapper {
	padding-left: var(--content-padding-left);
	padding-right: var(--content-padding-right);
	margin-top: var(--content-margin-top);
	margin-bottom: var(--content-margin-bottom);
}

/** reset-font should only be used if something is overriding the default fonts */

.wi-reset-font {
	font-family: var(--default-font);
}

/** regular typography (it is important for this to be before the media tag) */

.wi-title {
	font-weight: 600 !important;
	font-size: 48px !important;
	/* letter-spacing: 0.3em; */
}

h1 {
	font-weight: 500 !important;
	font-size: 36px !important;
	color: #4B2E83;
}

h2 {
	font-weight: 500 !important;
	font-size: 24px !important;
}

h3 {
	font-weight: 500 !important;
	font-size: 18px !important;
	text-transform: uppercase !important;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 8px;
}

.wi-large-body {
	font-size: 20px !important;
}

.wi-caption-1 {
	font-weight: 500 !important;
	font-size: 14px !important;
}

.wi-caption-2 {
	font-weight: 400 !important;
	font-size: 12px !important;
}

.wi-label {
	font-weight: 500 !important;
	font-size: 14px !important;
	text-transform: uppercase !important;
}

/** mobile typography */

@media (max-width: 480px) {
	.wi-title {
		font-weight: 600 !important;
		font-size: 28pt !important;
	}
	h1 {
		font-weight: 500 !important;
		font-size: 24pt !important;
	}
	h2 {
		font-weight: 500 !important;
		font-size: 18pt !important;
	}
	h3 {
		font-weight: 500 !important;
		font-size: 14pt !important;
		text-transform: uppercase !important;
	}
	p {
		font-weight: 400;
		font-size: 16pt;
		line-height: 21px;
		margin-bottom: 6px;
	}
	.wi-large-body {
		font-size: 20pt !important;
	}
	.wi-caption-1 {
		font-weight: 500 !important;
		font-size: 13pt !important;
	}
	.wi-caption-2 {
		font-weight: 400 !important;
		font-size: 12pt !important;
	}
	.wi-label {
		font-weight: 500 !important;
		font-size: 13pt !important;
		text-transform: uppercase !important;
	}
}

.header-sep {
	background-color: var(--purple-primary);
	height: 4px;
	width: 70px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.failure {
	background-color: var(--failure-secondary);
	border-radius: 10px;
	color: var(--main-color);
	padding: 5%;
}